/* Responsive Styles */

@media screen and (max-width: 600px) {
    .card {
      padding: 10px 20px;
    }
  
    .weather-icon {
      width: 120px;
      margin-top: 30px;
    }

    .weather img{
        width: 150px;
    }
  
    .weather h1 {
      font-size: 40px;
    }
  
    .weather h2 {
      font-size: 35px;
    }
  
    .details {
      padding: 0  5px;
      margin-top: 70px;
    }
    
    .col img{
        width: 35px;
        margin-right: 5px;
    }

  }
  
